nav{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size:1rem;
  color:#95989A;

}
#map {
    width: 80%;
    height: 400px;
    margin:auto;
    border-radius: 10px;
    /*border-color:  #95989A;
    border-style: solid;
    border-width: thin;*/
}

div{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:1rem;
  color: #2F3541;
}

h1{
   font-weight: 300;
   font-size:2rem;
   color: #2F3541;
}

/*.button{
  margin:auto; display:block;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #95989A;
  height: 50px;
  width:200px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 50px;
}*/
/*
.button:hover{
  background-color: #2F3541;
}*/

a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size:0.8rem;
  letter-spacing: 1px;
}

input{
  padding: 0.3rem;
  padding-left: 10px;
  margin:0.5rem;
  margin-top:0.25rem;
  max-width: 30em;
  height: 30px;
  width: 350px;
  border-style: solid;
  border-width: 0.25px;
  border-color: #95989A;
  font-size:1.25rem;
  background-color:transparent;
  border-radius: 5px;
  letter-spacing: 1px;

}

input[type='time']{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.25rem;
  font-weight: 300;

}

input[type='text']{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.25rem;
  font-weight: 300;
}

/*input[type='submit']{*/
  /*margin-top: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1rem;
  font-weight: 300;
  color:#2F3541;
  border-color: #2F3541;
  border-width: 2px;
  height: 50px;
  width:200px;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 275;
  margin-bottom:
  padding: 0.6rem;
  border-radius: 50px;*/
  /*text-decoration: none;
  margin-top: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 275;
  color:#2F3541;
  border-color: #2F3541;
  background-color: transparent;
  height: 50px;
  width:200px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  border-width: 2px;
}*/
/*
input[type='submit']:hover{
  color:#FFFFFF;
  background-color: #2F3541;
}*/

a:link{
  text-decoration: none;
  letter-spacing: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: #2F3541;
}
a:visited{
  color:inherit;
}

#next-button{
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 275;
  color:#2F3541;
  border-color: #2F3541;
  background-color: transparent;
  height: 45px;
  width:200px;
  font-size: 1.25rem;
  border-radius: 50px;
}

#next-button:hover{
  background-color: #2F3541;
  color:#FFFFFF;

}

#codeFor {
  color: #4578cc;
}

#footer {
    width: 100%;
    height : 0px;
    position:absolute;
    bottom:0;
}

#instructions{
  text-align: center;
  font-weight:350;
  font-size:1.75rem;
  padding-left: 5%;
  padding-right: 5%
}

label {
  text-align:left;
  font-weight:300;
  font-size:1.25rem;
  padding-right: 30px;
}


#drivingInput,
#transitInput,
#walkingInput,
#drivingCost,
#transitCost,
#homeInput,
#workInput {
  font-weight: 350;
  font-size:1.75rem;
  color: #2F3541;
}
#transitCost,
#drivingCost {
  margin-top: 10px;
}

.controls {
  margin-top: 30px;
  border: 1px solid transparent;
  border-style: solid;
  border-width: 0.25px;
  font-size:1rem;
  background-color:transparent;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#home-input,
#work-input {
  background-color: #fff;
  margin:auto;
  margin-left: 30px;
  margin-top:20px;
  text-overflow: ellipsis;
  width: 40%;

}

#home-input:focus,
#work-input:focus {
  border-color: #4d90fe;
}

#transitFee {
  font-size: 14px;
  margin-top: 10px;
}

#panel li:before{
  padding: 3px;
  display:block;
  color:#fff;
  font-weight:bold;
}

#panel li:nth-child(1):before{
  content:'Driving To Work';
}
#panel li:nth-child(2):before{
  content:'Driving Home';
}
 #panel li:nth-child(3):before{
  content:'Transit to Work';
  color:#000;
}
#panel li:nth-child(4):before{
  content:'Transit Home';
  color:#000;
}
.wrapper {
    height: 100%;
}
.page {
    float:left;
    min-height: 100%;
}
#aboutlink{
  font-size: 1.75rem;
  font-weight: 300;
  color: #f07377;
}
#aboutlink:hover{
  font-style: italic;
  background-color: #f07377;
  color: #ffdc8a;
}
#aboutlink2{
  font-size: 1.25rem;
  font-weight: 300;
  color: #f07377;
}
#aboutlink2:hover{
  font-style: italic;
  background-color: #f07377;
  color: #ffdc8a;
}

#abouttext{
  text-align: left; font-size:1.75rem; letter-spacing: 1px;padding-left:10%; padding-right: 10%; margin-left:100px; margin-right:100px; margin-bottom:3rem;
}
#resText{
  margin: 0;
  font-size: 1.75rem;
  font-weight: 350;
  letter-spacing: 1px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
 .clip-m { position: fixed !important; position: absolute !important; clip: rect( 1px 1px 1px 1px ); /* IE6, IE7 */ clip: rect( 1px, 1px, 1px, 1px ); }
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media screen and (min-width:50em) {
    .w-50-ns {
        width: 50%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 720px) {

  h1{
    font-size: 1.75rem;
    font-weight: 300;
  }

  #instructions{
    font-size: 1.5rem;
    font-weight: 300;
  }

  #resText{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 250;
    padding-left: 5%;
    padding-right: 5%;
  }
  #drivingInput,
  #transitInput,
  #walkingInput,
  #drivingCost,
  #transitCost,
  #homeInput,
  #workInput {
    font-weight: 250;
    font-size:1.25rem;
    color: #2F3541;
    padding-left: 5%;
    padding-right: 5%;
  }
  #transitCost,
  #drivingCost {
    margin-top: 10px;
  }

  #map{
    height: 250px;
  }

  #abouttext{
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  #aboutlink{
    font-size: 1.25rem;
    font-weight: 300;
    color: #f07377;
  }

}

/*
